.Cart
{
  background-color: rgb(136, 46, 79) !important;
}
.cartItems
{
    
  min-height: 160px;
  max-height: max-content;
  width: 600px;
  margin: 10px auto;
  background-color: white !important;
  border-top: rgb(170, 30, 123) 1px solid;
  border-bottom: rgb(170, 30,123) 1px solid;

}
.cartItems img{
    width: 170px;
    height:75%;  
}
.payCartBtn
{
  color: white!important;
  background-color: rgb(169 79 112);
  font-weight: 800;
}
.itemDtails{
  margin-left: 10px;
}

.amount{
    width: 70px;
    border: darkmagenta 1px solid;
}
.plus
{
  background-color: cornsilk;
  border-radius: 50% 0 0 50%;
  border: darkmagenta 1px solid;
}
.minus
{
  background-color: cornsilk;
  border-radius: 0 50% 50% 0;
  border: darkmagenta 1px solid;
}
.priceWeight{
  width: 200px;
  justify-content: space-around;
}
.plusMinus{
  width: 70px !important;
  height: max-content !important;
}
.buy{
  background-color: cornsilk;
  border: darkmagenta 1px solid;
  width: max-content;
  margin: 0 auto;
}
.btn button{
  border: none;
  background-color: white;
  font-size: 12px !important;
  
}
.remove-product-btn img{
  border: none;
  width: 20px;
  height: 20px;
}

.remove-product-btn
{
  outline: none !important;
  border: none;
  background-color: transparent;
  width: 25px;
  margin: 20px !important;
}

.DetailsItem>*:not(.btn)
{
  margin-left: 40px;
  margin-top: 15px;
  width: 40px;
}

.DetailsItem
{
  padding: 10px;
  max-width: max-content;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  
}
.headerItem
{
  margin-left: 130px;
  width: max-content;
  padding-right: 24px;
  color:rgb(199 125 83) !important;
 
}
.cart-header
{
  background-color:rgb(253, 253, 253);
  font-weight: bold;
  margin: 10px auto; 
}

.summary {
 /* justify-content: right; */
  border: darkmagenta 1px solid;
  width: 280px;
  height: max-content;
  margin: 0 auto;
 
}
.headerItem b
{
  width: 70px;
  margin-left: 15px !important;
  font-size: 15px !important;
  
}
.cartItems a b{
color :darkmagenta!important;
}
hr{
  color: brown !important;
}
.wrapDetails
{
  width: 43%;
  justify-content: space-between;
  height: max-content;
}
b{
  font-size: 12px;
}

.couponTitle
{
  font-weight: bold;
}
.sum,.Total{
  color: rgb(199 125 83) !important;
}
.discount
{
  color: red !important;
}
span{
  color: black !important;
}

.sum,.discount,span,.Total
{
  margin: 0;
  font-weight: bolder;
  font-size: 14px;
}
.wrapCart {
  width:max-content;
  margin: 0 auto ;
}

header
{
  height: max-content;
  width: 100%;
}
.cartItems b
{
  margin: 5px;
  width:120px;
}
@media only screen and (max-width: 1200px)  {
  .cartItems
  {
    margin: 0 auto !important;
   width:400px;
  }
 .cart-header,.cart-price
 {
   display: none;
 }

 /* .wrapCart {
   width: 100%;
   margin: 0 auto ;
   justify-content: space-evenly;
   flex-wrap: wrap;
} */
  
}
@media only screen and (max-width: 560px)  {
  .cartItems
  {
    margin: 0 auto !important;
   width:100vw;
  }
  .cartItems a
  {width: 50vw;}
 .DetailsItem
 {
   margin-top:0px;
   width: 50vw;
 }
 .summary {
   width: 100vw;
   margin: 0;
 }
}

