.Blog img
{
    width: 400px;
    height: 400px;
}
.comment-body
{
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}
.WrapPost
{
    width: 40%;
    margin: 0 auto;
}
.post-body
{
    background-color: white;
}
.post
{
    border: rgb(255, 183, 3) 1px solid;
}